* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    color: aqua;
}

img {
    width: 100%;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: cadetblue;
    padding: 50px;
    border: cyan solid 2px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

body {
    background-image: url("https://s1.eestatic.com/2015/03/31/cocinillas/Cocinillas_22257914_116018278_1024x576.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 600px;
    color: white;
    font: "Consolas";
    font-size: 18px;
    display: flex;
}

div {
    margin: 0 auto;
}